.HomePage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 85%;
    margin: 0 auto 50px;
}

.titleCarousel{
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    color: var(--text-color);
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;

}